header{
    width: 100%;
    height: 57px;
    background-color: #ffffff;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navIcon{
    height: 24px;
    width: 24px;
    margin-right: 20px;
}

#ytIcon{
    height: 30px;
    width: 106px;
}

#search{
    height: 30px;
    border: 2px solid lightgray;
    display: flex;
    align-items: center;
}


#searchBar{
    box-sizing: border-box;
    height: 30px;
    border:0px solid rgb(192, 192, 192);
    font-size: 16px;
    margin-left: 10px;
    width: 575px;
    overflow:hidden
}

#searchButton{
    height:30px;
    width: 65px;
    border-radius: 0;
    border: none;
    background-color: #f8f8f8;
    border-left: 1px solid lightgray;
}

#btnImage{
    margin-top: 5px;
}

#btnIcon{
    position: relative;
    right: 40px;
}

#icons{
    margin-right: 30px;
    display: flex;
    align-items: center;
}

#icons img{
    margin: 0 15px;
}

body{
    background-color: #f9f9f9;
}

main{
    margin-left: 110px;
    width:65%;
    font-family: 'Roboto', Arial;
}

main div{
    height: 100%;
}

#video iframe,
#video object,
#video embed{
    width: 100%;
    height: 100%;
}

#video{
    margin-top: 30px;
    height: 700px
}

#stats{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
    color:#4e4e4e;
}

#views{
    display:flex;
}

#interactionButtons{
    display:flex;
}

#likes{
    border-bottom: 2px solid gray;
    padding:0 15px 15px 15px;
}

#interactionButtons div p{
    margin-left: 10px;
}

#downvote{
    margin-left: 20px;
}

#interactionButtons div{
    display:flex;
    margin: 0 10px;
}

#videoInformation figcaption{
    margin: 25px 0;
    font-size: 18px;
}

#uploadPic img{
    border-radius: 50%;
    margin-right: 20px;
}

#uploadUser{
    display: flex;
}

#uploadUser div{
    margin-top: 15px;
}

#descriptionBlock{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

#descriptionBlock button{
    margin-top: 20px;
    background-color: rgb(204, 0, 0);
    color: white;
    font-size: 14px;
    border: none;
    padding: 10px 16px;
    font-weight: bold;
    border-radius: 3px;
}

#descriptionBlock h3{
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 16px;
}

#subscribers{
    font-size: 13px;
    color: rgb(96, 96, 96);
    margin-bottom: 25px;
}

#description{
    font-size: 14px;
    line-height: 21px;
    margin: 5px 0;
}