header{
    width: 100%;
    height: 57px;
    background-color: #ffffff;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navIcon{
    height: 24px;
    width: 24px;
    margin-right: 20px;
}

#ytIcon{
    height: 30px;
    width: 106px;
}

#search{
    height: 30px;
    border: 2px solid lightgray;
    display: flex;
    align-items: center;
}


#searchBar{
    box-sizing: border-box;
    height: 30px;
    border:0px solid rgb(192, 192, 192);
    font-size: 16px;
    margin-left: 10px;
    width: 575px;
    overflow:hidden
}

#searchButton{
    height:30px;
    width: 65px;
    border-radius: 0;
    border: none;
    background-color: #f8f8f8;
    border-left: 1px solid lightgray;
}

#btnImage{
    margin-top: 5px;
}

#btnIcon{
    position: relative;
    right: 40px;
}

#icons{
    margin-right: 30px;
    display: flex;
    align-items: center;
}

#icons img{
    margin: 0 15px;
}

body{
    background-color: #f9f9f9;
}

main{
    margin-left: 110px;
    width:65%
}

main div{
    height: 100%;
}

#video iframe,
#video object,
#video embed{
    width: 100%;
    height: 100%;
}

#video{
    margin-top: 30px;
    height: 700px
}

#stats{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

#views{
    display:flex;
}

#interactionButtons{
    display:flex;
}

#likes{
    border-bottom: 3px solid gray;
    padding:0 15px 15px 15px;
}

#likes p{
    margin-left: 10px;
}

#downvote{
    margin-left: 20px;
}

#interactionButtons div{
    display:flex;
}